svg {
  background: lightblue;
}

body {
  height: 100%;
  font-size: 16px;
  background: #97bece;
  text-align: center;
}

.first-label {
  color: #ce641e;
  font-weight: bold;
  display: block;
}

.sphere {
  fill: darkblue;
}

.country {
  stroke: black;
  stroke-width: 0.1;
}

.country:hover {
  fill: red;
}

.highlight {
  fill: red;
}

ul {
  padding: 10px;
  display: inline-block;
  text-align: left;
}

#traits-list {
  display: inline;
  color: white;
  margin: 5%;
}
#traits-div ul {
  text-align: center;
}

#traits-div li {
  display: inline;
  color: white;
  margin: 1%;
}
